<!-- <div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-md-12">
        <h2>Orders</h2>
        <div class="table-responsive-md">  
        <table class="table table-striped table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>รายการสั่งซื้อ</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products; index as i">
                    
                    <td scope="row">{{item.order}}</td>
                    <td><div class="col" style="margin-top: 5px;">
                        <a class="btn btn-success" role="button" style="width: 200px;" (click)="deletebook(item._id)">
                            <i>
                                จัดส่งแล้ว
                            </i>
                        </a>
                    </div></td>
                </tr>
                <tr>
                    
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
</div> -->

<!-- new version -->
<mat-tab-group>
    <mat-tab label="คำสั่งซื้อที่ยังไม่จัดส่ง">  
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                  
                </div>
                <div class="col-10" style="display: inline-block;">
                    <div *ngFor="let item of products; index as i">
                        <div *ngIf="item.send === false" class="card" style="width: 18rem;margin: 20px;">
                            <div class="card-body">
                              <h3>{{item.userID}}</h3>
                              <h3>ที่อยู่: {{item.address}}</h3>
                              <ul class="list-group" *ngFor="let arraybook of item.list; index as k" >
                                <li class="list-group-item">{{arraybook.idBook | truncate | async }}: {{arraybook.quantity}}</li>
                              </ul>
                              <a class="btn btn-success" role="button" style="width: 200px;" (click)="sendbook(item)">
                                <i>
                                    จัดส่งแล้ว
                                </i>
                            </a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col">
                  
                </div>
              </div>
        </div>
    </mat-tab>
    <mat-tab label="คำสั่งซื้อที่จัดส่งเรียบร้อย">  
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                  
                </div>
                <div class="col-10" >
                    <div *ngFor="let item of products; index as i" style="background-color: rgb(109, 139, 121);width: 300px;display: inline-block;">
                        <div *ngIf="item.send === true" class="card" style="width: 18rem;margin: 20px;background-color: aquamarine;">
                            <div class="card-body" style="display: inline-block;background-color: burlywood;" >
                              <h5 class="card-title">{{item.userID}}</h5>
                              <h3>ที่อยู่: {{item.address}}</h3>
                              <ul class="list-group" *ngFor="let arraybook of item.list; index as k" >
                                <li class="list-group-item">{{arraybook.idBook | truncate | async }}: {{arraybook.quantity}}</li>
                              </ul>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col">
                  
                </div>
              </div>
        </div>

    </mat-tab>
</mat-tab-group>
