<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" >
      <span class="navbar-brand" >Bookstore</span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="Home" routerLinkActive="active">Order</a>
          <a class="nav-link" routerLink="newbook" routerLinkActive="active">New Book</a>
          <a class="nav-link" routerLink="stock" >Stock</a>
          <a class="nav-link" routerLink="Manage" >ManageUser</a>
        </div>
      </div>
      <div class="d-flex">
        <button class="btn btn-danger" type="submit" (click)="signout()">log out</button>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
