<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid" >
      <span class="navbar-brand" style="color: aliceblue;" >Bookstore</span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="Home"  routerLinkActive="active" style="color: aliceblue;">Order</a>
          <a class="nav-link" routerLink="newbook" routerLinkActive="active" style="color: aliceblue;" >New Book</a>
          <a class="nav-link" routerLink="stock" style="color: aliceblue;">Stock</a>
          <a class="nav-link" routerLink="Manage" style="color: aliceblue;">ManageUser</a>
        </div>
      </div>
      <div class="d-flex">
        <button class="btn btn-danger" type="submit" (click)="signout()">log out</button>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
