<nav class="navbar navbar-dark bg-dark">
    
        <div class="container-fluid">
          <a class="navbar-brand">Bookstore</a>
          <form class="d-flex">
            <button class="btn btn-danger" type="submit" (click)="signOut()">log out</button>
          </form>
        </div>
      
</nav>

<app-search (messageEvent)="receivData($event)"></app-search>
<div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-md-12">
        <h2>Products</h2>
        <div class="table-responsive-md">  
        <table class="table table-striped table-inverse">
            <thead  class="table-dark">
                <tr>
                    <th>ชื่อหนังสือ</th>
                    <th>หมวดหมู่</th>
                    <th>ราคา</th>
                    <th>จำนวน(เล่ม)</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products; index as i">
                    <td scope="row">{{item.name}}</td>
                    <td>{{item.tag}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td><img [src]="item.img" style="height:200px;width: 200px;"></td>
                    <td>
                        <div style="margin-top: 60px;">
                            <app-buy-products [item]="item"></app-buy-products>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-carts></app-carts>
        </div>
      </div>
    </div>
</div>