<div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-md-12">
        <h2>หนังสือ</h2>
        <div class="table-responsive-md">  
        <table class="table table-striped table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>สมาชิก</th>
                    
                    
  
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products; index as i">
                   
                    <td scope="row">{{item.username}}</td>
                    
                   
                    
                    <td>
                        <div class="row row-cols-1">
                            
                            <div class="col" style="margin-top: 5px;">
                                <a class="btn btn-danger" role="button" style="width: 200px;" (click)="deleteUser(item._id)">
                                    <i>
                                        ลบสมาชิก
                                    </i>
                                </a>
                            </div>
                        </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
</div>